body {
  margin: 0;
  background-color: #d5d5d5;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e2;
  padding: 0 80px;
  align-items: center;
}

nav .left ul {
  display: flex;
  align-items: center;
  padding: 0;
}

nav .left ul img {
  margin-right: 40px;
}

nav .left ul li {
  list-style-type: none;
  margin-right: 25px;
}

nav .left ul li a {
  color: black;
  text-decoration: none;
}

nav .right a {
  text-decoration: none;
  background-color: black;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
}

form {
  border: 1px;
  border-style: none;
  border-radius: 10px;
  width: 1250px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 0 30px grey;
  background-color: white;
}

div .cards {
  display: flex;
  justify-content: space-between;
}

div .card1 {
  background-color: white;
  width: 90%;
  margin: auto;
}

button {
  font-family: poppins;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  margin: auto;
  font-size: 21px;
  padding: 5px 10px;
}

div .contactcv {
  margin-left: 15px;
  display: inline-flex;
}

div .downloadcv {
  margin-left: 15px;
  display: inline-flex;
  padding: 15px 3px;
}

div .table {
  border-style: none;
  width: 50%;
  margin-top: 30px;
}

div .card2 {
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 30px grey;
  background-color: white;
}

div .container {
  font-family: poppins;
  margin: auto;
  padding: 2px 2px;
  text-align: center;
}
